
@{
    ViewBag.Title = "LisaaTuoteLomake";
}
<h2>Tuotteen lisäys</h2>

<div class="container">

    <form class="form-horizontal" method="post" action="/Home/LisaaTuoteLomake2">

        <div class="form-group">
            <label class="control-label col-sm-2" for="nimi">Tuotenimi:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="tuotenimi" name="tuotenimi" required placeholder="anna nimi">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="nimi">Hinta:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="hinta" name="hinta" required placeholder="anna hinta">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="nimi">Varasto:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="varasto" name="varasto" required placeholder="anna varastomäärä">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Lisää tuote</button>
            </div>
        </div>
    </form>
</div>